# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run_data_forge
runs_forge

# Files from Forge MDK
forge*changelog.txt
/run-data/
